.header {
  position: fixed;
  inset: 0 0 auto 0;
  width: 100%;
  height: 8vh;
  padding: 50px;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(22, 22, 22);
  color: #aae1ff;
}

.header-title {
  display: flex;
  align-items: center;
  letter-spacing: .5px;
}

.header-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 60px;
}

.header-nav-items {
  display: flex;
  align-items: center;
  gap: 6px;
}

.menu-button {
  display: none;
}

@media screen and (max-width: 1000px) {
 .header {
   padding: 40px 25px;
   font-size: 0.95em;
 }

 .header-nav {
   flex-direction: column;
   position: fixed;
   inset: 0 0 0 60%;
   padding: min(30vh, 8rem) 2.5rem;
   gap: 2em;
   background-color: hsl(0 0% 12% / 0.75);
   backdrop-filter: blur(.5rem);
   transform: translateX(100%);
   transition: transform 0.4s ease-out;
 }

 .active {
   transform: translateX(0%);
 }

 .icon {
   transition: 0.4s ease;
 }

 .rotate {
   transform: rotateY(180deg);
 }

 .header-nav-items {
   font-size: 1.1em;
 }

 .menu-button {
   display: block;
   position: absolute;
   z-index: 9999;
   top: 1.84rem;
   right: 2rem;
 }
}

@media screen and (max-width: 500px) {
  .header-nav {
    inset: 0 0 0 35%;
  }
}

@media screen and (max-width: 350px) {
  .header-nav-items {
    font-size: 0.9em;
  }

  .header-nav {
    padding: min(30vh, 8rem) 1.5rem;
  }
}